
h1,h2,.nav-item {
    
    font-family: 'Rubik Mono One', sans-serif;
}
h3,h4, .date-large, .date-small,.button,.label,.body-regular,.body-bold    {

    font-family: 'Montserrat', sans-serif;


}

h1 {
    font-size: 90px;
}

h2 {
    font-size: 38px;
}

h3 {
    font-weight: bold;
    font-size: 30px;
}

.date-large {
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
}

h4 {
    font-weight: bold;
    font-size: 19px;
}

.date-small {
    font-weight: bold;
    font-style: italic;
    font-size: 15px;
}

.nav-item {

    font-size: 24px;
}

.button {

    font-weight: bold;
    font-size: 20px;
}

.label {

    font-style: italic;
    font-size: 20px;
}

.body-regular {

    font-weight: normal;
    font-size: 20px;
}

.body-bold {

    font-weight: bold;
    font-size: 20px;
}
